<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<script src="/js/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/mustache/2.3.0/mustache.min.js"></script>
<script src="/js/crypto/3.1.2/rollups/md5.js"></script>
<script src="/js/pagination/2.1.5/pagination.min.js"></script>
<script src="/js/sequence/seqread.js"></script>
<script src="/js/sequence/seqoutmust.js"></script>
<script src="/js/sequence/sequpload.js"></script>
<script src="/js/three.js"></script>
<script src="/js/three-spritetext.min.js"></script>
<script src="/js/3d-force-graph.min.js"></script>
<script src="/js/sequence/seqquery.js"></script>
<script src="/js/sequence/seqindex.js"></script>
<script src="/js/main.js"></script>

<!-- <script src="/js/sequence/traversefile.js"></script> -->
<meta name="Description" CONTENT="Author: rakondark@gmail.com, Category: sequence praetorians Lifetime Sharespace statistic ranking" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/w3.css">
<link rel="stylesheet" type="text/css" href="css/w3-theme-blue-grey.css">
<link rel="stylesheet" type="text/css" href="css/seqsimple.css">
<link rel="stylesheet" type="text/css" href="css/pagination.css">
<title>Praetorians Abacvs Sequence Universe 0.7</title>
</head>
<body class="w3-theme-l4">
<div id="headerimg" class="">&nbsp;</div>
<h3 class="w3-xxlarge w3-center">Abacvs Sequence Universe</h3>
<div id="otherivew" class="w3-container w3-content  w3-row-padding">

                  <button class="w3-bar-item w3-button  w3-card tablink w3-red"  onclick="otherview(event)">Uploaded last 500</button>
                  <button class="w3-bar-item w3-button  w3-card tablink"  onclick="othertop5view(event)">Top 5</button>
                  <button class="w3-bar-item w3-button  w3-card tablink "  onclick="otherview2(event)">(Cooming soon) Tourney</button>
                  <button class="w3-bar-item w3-button  w3-card tablink "  >(Cooming soon : Original-Game Sequences)</button>
</div> 
<div  class="w3-container w3-content  w3-card  w3-row-padding">              
<div id="3d-graph" ></div>
<p>LEFT-CLICK ITEM => action | CENTER=in/out | HOVER=detail | LEFT-HOLD => rotate | RIGHT-HOLD => direction </p>
</div>

<div  class="w3-container w3-content w3-card w3-row-padding"> 
      
      <div class="w3-row-padding">
            <div class="w3-third">

                  <label>Player</label><input id="filterplayername" name="filterplayername"  class="w3-input  w3-card" type="text" size="20" placeholder="Name" >
                  <label>Player Filters</label>
                  <div class="w3-row">
                       
                              <select class="w3-select w3-third w3-card" id="filterplayerwin" name="filterplayerwin" >
                                    <option selected value="">no filter</option>
                                    <option value="1">Won</option>
                                    <option value="2">Lost</option>
                              </select> 
                        
                        
                              <select class="w3-select w3-third w3-card" id="filterplayersaved" name="filterplayersaved" >
                                    <option selected value="">no filter</option>
                                    <option value="1">Saved</option>
                              </select>
                        
                        
                              <select class="w3-select w3-third w3-card" id="filterplayerrace" name="filterplayerrace" >
                                    <option selected value="">no filter</option>
                                    <option value="ROMANOS">ROMANOS</option>
                                    <option value="BARBAROS">BARBAROS</option>
                                    <option value="EGIPCIOS">EGIPCIOS</option>
                              </select> 
                        
                  </div>
                  <label>Result Max Rows each Page</label>
                  <select class="w3-select  w3-card" id="seldatalength" name="seldatalength" >
                        <option selected>2</option>
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                        <option>500</option>
                  </select>
            </div>
            <div class="w3-third">
                  <div class="w3-row">
                        <div class="w3-half">
                              <label>File ID</label><input id="filteridx" name="filteridx"  class="w3-input  w3-card" type="text" size="3" >
                        </div>
                        <div class="w3-half">
                              <label>Category</label><input id="filterkategori" name="filterkategori"  class="w3-input  w3-card" type="text" size="3" >
                        </div>
                  </div>
                  <div class="w3-row">
                        <div class="w3-third">
                              <label>CPU Skill</label><select class="w3-input  w3-card" id="filtercpuskill" name="filtercpuskill" >
                                    <option selected value="">no filter</option>
                                    <option value="0">No CPU</option>
                                    <option value="1">Easy</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Hard</option>
                              </select>
                        </div>
                        <div class="w3-third">
                              <label>PlyCount</label><select class="w3-select  w3-card" id="filterplycount" name="filterplycount" >
                                    <option selected value="">no filter</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="6">5</option>
                                    <option value="7">6</option>
                                    <option value="8">7</option>
                                    <option value="9">8</option>
                              </select>
                        </div>
                        <div class="w3-third">
                              <label>Siege</label><select class="w3-select  w3-card" id="filtersiege" name="filtersiege" >
                                    <option selected value="">no filter</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                              </select>
                        </div>
                  </div>
                  <div class="w3-row">
                  <div  class="w3-full w3-center"><p>
                        <button id="loadbutton" class="w3-bar-item w3-button  w3-card tablink "  onclick="loadlist(event,'sav')">Start Search</button>
                  </p>
                  </div>
                  </div>

            </div>
            <div class="w3-third">
                  <label>Order Field</label>
                  <select class="w3-select  w3-card" id="orderfield" name="orderfield" >
                        <option value="0">no filter</option>
                        <option value="idx" selected >Seq ID</option>
                        <option value="kategori" >Category</option>
                        <option value="cpuskill" >CPU Skill</option>
                        <option value="players" >Players Count</option>
                        <option value="download" >Download Count</option>
                  </select> 
                  <label>Order Sort</label>
                  <select class="w3-select  w3-card" id="orderorder" name="orderorder" >
                        <option value="desc" selected >descent</option>
                        <option value="asc" >ascent</option>
                  </select>   
                  <div class="w3-row">
                        <div class="w3-half">      
                              <label>MyGroup</label><input id="filtergroup" name="filtergroup"  class="w3-input  w3-card" type="text" size="3" >
                        </div>
                        <div class="w3-half"> 
                              <label>YourId</label><input id="filteryourid" name="filteryourid"  class="w3-input  w3-card" type="password" size="3" >
                        </div>      
                  </div> 
            </div>
      </div>
      <p>Search the Database for uploaded sequences , set your filter options and <b>Start Search</b></p>
</div>

<div class="w3-container w3-content w3-card">
      <div id="seqlist" class="w3-panel  w3-card  "></div>
      <div id="seqdata" class="w3-panel  w3-card  "></div>
</div>      
<div class="w3-container w3-content  w3-card ">
      <div class="w3-row-padding ">
            <div class="w3-half">
            <form  class=" w3-card  ">
                  <p><label>Sequences Upload </label></p><input class="w3-input  w3-card" id="filein" name="filein" type="file" multiple placehole=""><br>
                  <span>Remastered .sav files location:<br>C:\Users\YourUser\AppData\Local\Praetorians\Saved\SaveGames\...</span><br>
                  <label>Upload Group@UserId</label><input class="w3-input  w3-card" id="email" name="email" type="text" size="40" placeholder="MyGroup@YourId" ><br>
                  <span>its your id to filter/add/group your uploads , MyGroup part will be displayed, YourID is Your Secret</span>
            </form>
            </div>
            <div class="w3-half w3-center">
                  <div id="drop-area"   style="margin-top:8px;display:inline-block; background-image:url('/images/dropfiles.gif'); background-size: 300px 300px; width:300px; height:300px;"></div>
            </div>
      </div>
      <div id="file-list" class="w3-panel  w3-card  "></div>
</div>
<div class="w3-container w3-content  w3-card ">
<footer>Contact: <address>rakondark@gmail.com</address> * this site not grab any personal data * gl hf - open source:<a href="https://github.com/rakondark/abacvs-universe" target="_blank">abacvs-universe</a></footer>
</div>
</body>
</html>
<!-- .0007 by rakondark@gmail.com
		update : 
				added images

				
</!-->